@media screen {
  #root {
    width: 90%;
    max-width: 48em;
    margin: auto;
  }

  .initial-form label,
  .result-form label {
    display: block;
  }

  .initial-form input,
  .result-form input {
    margin-bottom: 1em;
  }

  .initial-form span,
  .result-form span {
    font-weight: bold;
  }
}